body {
    font-family: sans-serif;
    color: darkslateblue;
}

table {
    width: 100%;
    thead {
        th {
            text-align: left;
            background-color: dodgerblue;
            color: white;
        }
    }
    tbody {
        tr:hover {
            background-color: #ddd;
        }
    }
}
