body {
    font-family: sans-serif;
    color: #333;
    background-color: #eee;
}

#tasks {
    margin-top: 2em;
}

article {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0.5em;
    
    padding: 0.5em 1em;

    &:hover {
        box-shadow: 2px 2px 4px #555;
        background-color: rgba(255, 217, 0, 0.4);
    }

    h5 {
        margin: 0;
        button {
            margin-left: 2em;
            
        }
    }

    p {
        margin: 0;
        padding-top: 0.5em;
        font-style: italic;
    }

    &.done > * {
        text-decoration-line: line-through;
        color: #aaa;
    }

    & + article {
        margin-top: 1em;
    }
}

button {
    border:none;
    background-color: #555;
    color:#fff;
    border-radius: .5em;
    padding: .2em 1em;

    &:hover {
        box-shadow: 1px 1px 5px #555;
    }

    &.remove {
        background-color: orangered;
    }
    &.done {
        background-color: dodgerblue;
    }
    &.save {
        background-color: limegreen;
    }
}

fieldset {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0.5em;
    box-shadow: 2px 2px 4px #555;
    legend {
        font-weight: 600;
    }
}
